.logo {
  height: 80px;
  padding-right: 10px;
}
.brand-logo {
  font-size: 25px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: darkseagreen;
  font-weight: bold;
}
.brand-logo:hover {
  cursor: default;
  text-decoration: none;
}
.logout-btn {
  float: right;
}
.nav-icon {
  padding-right: 5px;
}
