a {
    text-decoration: none;
}
h2 {
    display: inline-block;
}
button.add {
    float: right;
}
.filter-input-box {
    display: block;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.mat-paginator {
    background-color: transparent;
    width: 100%;
}
.movies-main {
    margin-top: 10px;
}
